.container {
  background-color: #a7c4e8;
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/* NAVBAR */
.navbar {
  background: #fff;
  height: 70px;
  width: 100%;
  padding: 0 40px;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoText {
  font-size: 28px;
  font-weight: 700;
  color: #2b2b4b;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 40px;
  font-size: 18px;
  font-weight: 500;
}

.main {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

/* left card */
.cardSubject {
  background: white;
  padding: 20px;
  width: 240px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.cardSubject input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
}

/* calendar */
.calendarWrapper {
  margin-top: 20px;
}

/* right card */
.cardTask {
  background: white;
  padding: 25px;
  width: 280px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.cardTask input {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  margin-bottom: 8px;
}

/* illustrations */
.student {
  position: absolute;
  left: 180px;
  top: 230px;
}

.cloud1 {
  position: absolute;
  left: 300px;
  top: 140px;
  opacity: 0.85;
}

.cloud2 {
  position: absolute;
  right: 260px;
  top: 130px;
  opacity: 0.9;
}